<p id="notice"><%= notice %></p>

<p>
  <strong>Message:</strong>
  <%= @question.message %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @question.phone_number %>
</p>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
